include LICENSE.md
include README.md
include CHANGELOG.md
include CONTRIBUTING.md
include SECURITY.md
include pyproject.toml

recursive-include opsdeck/templates *.html
recursive-include opsdeck/statics *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * .DS_Store
